@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* Color Palette (from color_system_v20150129.png) */
$C01   : #8065e4; // purple
$C01_1 : #715ed3;
$C01_2 : #6a54d3;

$C02   : #2aabd8; // indigo blue
$C02_2 : #2494b2;

$C03   : #e765c3; // pink
$C03_2 : #c64aa8;

$C04   : #66a1e2; // blue
$C04_2 : #4492d8;

$C05   : #6683e2; // deep blue
$C05_2 : #4e6fcc;

$C06   : #48cc81;

$C07   : #1ea869; // green
$C07_2 : #137f4c;

$C08   : #eaa54b;

$C09   : #ffffff;
$C10   : #f4f4f4;
$C11   : #b6b6b6;
$C12   : #757575;
$C13   : #474747;
$C14   : #272727;
$C15   : #111111;

body {
  font-family: 'Noto Sans KR', sans-serif;
  color: $C10;
}

.center h1 {
  font-family: 'hanna';
}
.center h1 .en{
  font-family: 'Noto Sans KR', sans-serif;
}

h1, h2, h3 {
  font-weight: 300;
  margin-bottom: 0;
  color: $C10;
  text-shadow: 0 0 10px $C14;
}

.remark-slide-content {
  background: $C13;
  background-size: 908px 100% !important;
  background-position: 0px 0px !important;
  h1 { font-size: 3em; }
  h2 { font-size: 1.4em; }
  h3 { font-size: 1.1em; }
  p  { line-height: 1.5em; }
}

.remark-code, .remark-inline-code {
  font-family: 'Source Code Pro';
  text-shadow: none;
}
.remark-code-line-highlighted     { background-color: #373832; }

.footnote {
  position: absolute;
  bottom: 3em;
}

li p { line-height: 1.25em; }

.red    { color: #fa0000; }
.indigo { color: $C02_2;  }
.pink   { color: $C03_2;  }
.yellow { color: $C08;    }
.green  { color: $C06;    }

a, a > code {
  color: $C08;
  text-decoration: none;
}

pre {
  max-height: 500px;
  overflow: auto;
}

code {
  -moz-border-radius: 5px;
  -web-border-radius: 5px;
  background: $C12;
  border-radius: 5px;
  padding: 3px;
}

.inverse1 {
  background: $C01;
  code { background: $C03; }
  .left-column {
    h2, h3 { color: $C01_2; }
  }
}
.inverse2 {
  background: $C02;
  code { background: $C03; }
  .left-column {
    h2, h3 { color: $C02_2; }
  }
}
.inverse3 {
  background: $C03;
  code { background: $C02; }
  .left-column {
    h2, h3 { color: $C03_2; }
  }
}


/* Two-column layout */
.left-column {
  width: 23%;
  height: 92%;
  float: left;
  padding-top: 1em;
  h2, h3 {
    color: $C12;
    text-shadow: none;
  }

  h2:last-of-type, h3:last-child {
    color: $C10;
  }
}

.right-column {
  width: 73%;
  float: right;
  padding-top: 1em;
  padding-left: 1em;
}

.hljs-monokai .hljs {
  background: $C13;
}

img {
  margin-top: 1em;
}

li {
  margin-top: 0.5em;
  line-height: 1.5em;
}

blockquote {
  margin: 0;
  padding: 0 15px;
  color: #777;
  border-left: 4px solid $C12;
}

.legend {
  text-align: left;

  .form-group {
    margin-bottom: 0;
  }

  .checkbox {
    margin: 0;
    label {
      color: #aaa;
      font-size: 80%;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    float: left;
    color: #aaa;
    list-style:none;
    li {
      display: inline-block;
      font-size: 80%;
      height: 18px;
      list-style: none;
      vertical-align: text-top;
    }
    span.box {
      display: inline-block;
      height: 11px;
      width: 11px;
      margin-left: 10px;
      margin-right: 5px;
    }
  }
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

